<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <br>
        <h1 class="display-4">QUIENES SOMOS </h1>
        <hr>
        <p class="lead">Somos una empresa de transporte. Nuestra misión es proporcionar rutas de transporte seguras, eficientes y confiables, conectando personas y mercancías con destinos en todo el país. Con un enfoque centrado en el cliente, nos esforzamos por ofrecer soluciones personalizadas que se adapten a las necesidades específicas de cada cliente.</p>
    </div>
</div>